/*Autor Gabriela Kotwińska */

body{
	background-image:url(co.jpg);
	font-size:25px;
	text-align:center;
	background-attachment: fixed; /*responsywnosc */
	background-repeat: no-repeat;
}
#div1{
	background:white;
	font-size:15px;
	text-align:left;
	color:grey;
	font-family:'Verdana';
	width:40%;
	height:80%;
	position:absolute;
	left:1%;
	top:12%;
	border-radius: 15px;
	
}
#div2{
	background-image: url(kwiaty2.jpg);
	font-size:15px;
	text-align:left;
	color:grey;
	font-family:'Verdana';
	font-size:20px;
	width:40%;
	height:50%;
	position:absolute;
	left:1%;
	top:12%;
	border-radius: 15px;
}
#div3{
	background-image: url(pastel.jpg);
	font-size:15px;
	text-align:left;
	color:grey;
	font-family:'Verdana';
	font-size:20px;
	width:40%;
	height:60%;
	position:absolute;
	left:1%;
	top:12%;
	border-radius: 15px;
}
#div4{
	background-image: url(liscie.png);
	font-size:10px;
	text-align:left;
	color:grey;
	font-family:'Verdana';
	font-size:15px;
	width:40%;
	height:80%;
	position:absolute;
	left:1%;
	top:12%;
	border-radius: 15px;
}
h1{
	font-family:'Georgia';
	font-size:30px;
	text-align:center;
}	
h2{ font-family:'cursive';
font-size:20px;
text-decoration: underline;
font-style: oblique; /*kursywa*/
}
#menu{
font-weight:bold;
padding:10px;
margin:15px;
}
#menu li{
font-size: 15px;
background-color:white;
float:left;
display: block;
width:10vw;
height:25px;
cursor: pointer;
color: #607d8b;
border-radius:10px;
border-width: 50px;
transition: all 0.25s ease-out;
transform: rotate(-2.9deg);
box-shadow:  0.8em 0.8em 0.8em;


}
#menu li li{
float: none;
}
#menu li li a{
text-decoration: none;
color:black;
}
#menu li ul{
display: none;
padding:0px;
}




span{
	
	
}

	

